@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {

    /* - Mobile: 375px
- Desktop: 1440px */

    /* ## Colors */

    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* ## Typography*/

    --font-family-outfit: 'Outfit', sans-serif;

    /* ### Body Copy  */

    /* - Font size (paragraph): 15px */

    /* ### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */

}

html {
    font-size: 100%;
}

body {
    width: 100vw;
}

.container {
    background-color: var(--light-gray);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 320px;
    height: 500px;
    padding: 15px;
    background-color: var(--white);
    color: #000;
    border-radius: 10px;
}

.card__img {
    width: 100%;
    height: auto;
    margin-top: 0;
    /* background-color: var(--light-gray); */
}

.card__img--qr {
    border-radius: 10px;
}

.paragraph {
    padding: 26px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.paragraph__h1 {
    font-family: var(--font-family-outfit);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.paragraph__paragraph {
    font-family: var(--font-family-outfit);
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 15px;
}

.attribution {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #000;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}